@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Obligatorio P3 </h1>
    <h2>Renata Moreno - Nro: 275371 || Renzo De Leon - Nro: 290199</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
